<% title("Nagi Systems Ltd Software Development - Portfolio", false)%>

<div class="column_1">
  <h3>Store Simulation Software</h3>
  <p> 
    Nagi Systems worked in partnership with Retail Human Factors and Fujitsu to develop their store simulation product. The product allows retailers to experiment with various store configurations like their staffing schedule or the number of checkouts using software.
  </p>

  <p> 
    I have programmed a number of models for Retail Human Factors, employing C#, WPF and 3D Modeling to create cutting edge tools.
  </p>
</div>

<div class="column_2">
  <%= image_tag "screenshot_1.png" %>
</div>

<div class="column_3">
  <%= image_tag "screenshot_2.png" %>
</div>

<div class="column_1">
  <h3>Online Accounts Viewer</h3>
  <p> 
    This application allows customers to view their account information online. In particular, they can view their unpaid invoices. Larger customers may have hundreds of unpaid invoices at any one time, and in the past customers were frequently phoning to request this information be collated and posted to them.
  </p>
</div>

<div class="column_2">
  <%= image_tag "screenshot_3.png" %>
</div>

<div class="column_3">
  <%= image_tag "screenshot_4.png" %>
</div>

<div class="column_1">
  <h3>Staff Schedule Application</h3>
  <p>
    This product is an interactive web application. It is a website that looks and feels like desktop software, but runs in a browser. The site was created using Ruby in Rails, which is a hot technology with many start-ups. Contact info@nagisystems.com to arrange a online demonstration.
  </p>
</div>

<div class="column_2">
  <%= image_tag "screenshot_5.png" %>
</div>

<div class="column_3">
  <%= image_tag "screenshot_6.png" %>
</div>

<div class="column_1">
  <h3>Website</h3>
  <p>
    When PAL Computers needed a shop-front outlining some of their products, I created <a href="http://www.palcomputers.co.uk">this site</a>.
  </p>
</div>

<div class="column_2">
  <a href="http://www.palcomputers.co.uk">
    <%= image_tag "screenshot_7.png" %>
  </a>
</div>

<div class="column_3">
  <a href="http://www.palcomputers.co.uk">
    <%= image_tag "screenshot_8.png" %>
  </a>
</div>
