- content_for(:title, 'Nagi Systems Ltd Software Development - Portfolio')

.column_1
  %h3 Store Simulation Software
  %p Nagi Systems worked in partnership with Retail Human Factors and Fujitsu to develop their store simulation product. The product allows retailers to experiment with various store configurations like their staffing schedule or the number of checkouts using software.
  %p I have programmed a number of models for Retail Human Factors, employing C#, WPF and 3D Modeling to create cutting edge tools.

.column_2
  %a.lightbox_a{:href => "/images/screenshots/sim_anim.png"}
    = image_tag('screenshot_1.png')

.column_3
  %a.lightbox_a{:href => "/images/screenshots/sim_graphs.png"}
    = image_tag('screenshot_2.png')

.column_1
  %h3 Online Accounts Viewer
  %p This application allows customers to view their account information online. In particular, they can view their unpaid invoices. Larger customers may have hundreds of unpaid invoices at any one time, and in the past customers were frequently phoning to request this information be collated and posted to them.

.column_2
  %a.lightbox_b{:href => "/images/screenshots/inv_login.png"}
    = image_tag('screenshot_3.png')

.column_3
  %a.lightbox_b{:href => "/images/screenshots/inv_data.png"}
    = image_tag('screenshot_4.png')

.column_1
  %h3 Staff Schedule Application
  %p This product is an interactive web application. It is a website that looks and feels like desktop software, but runs in a browser. The site was created using Ruby in Rails, which is a hot technology especially with VC funded start-ups. Contact info@nagisystems.com to arrange an online demonstration.

.column_2
  %a.lightbox_c{:href => "/images/screenshots/planner_wall.png"}
    = image_tag('screenshot_5.png')

.column_2
  %a.lightbox_c{:href => "/images/screenshots/planner_temps.png"}
    = image_tag('screenshot_6.png')

.column_1
  %h3 Website
  %p!= "When PAL Computers needed a shop-front outlining some of their products, I created #{link_to 'this site', 'http://www.palcomputers.co.uk'}"

.column_2
  = link_to image_tag('screenshot_7.png'), "http://www.palcomputers.co.uk"

.column_3
  = link_to image_tag('screenshot_8.png'), "http://www.palcomputers.co.uk"
