= form_for @post do |form|
  - if @post.errors.any?
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg
  = form.label :name
  = form.text_field :name
  %p
    = form.label :content
    = form.text_area :content
  %p
    = form.label :post_date
    = form.datetime_select :post_date
  %p
    = form.submit 'Submit'
