<% title "Posts" %>

<table>
  <tr>
    <th>Post Date</th>
    <th>Name</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%=h post.post_date.strftime("%d-%m-%y") %></td>
      <td><%=h post.name %></td>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
      <td><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Post", new_post_path %></p>
