<div id="logo">
  <%= image_tag "logo.png" %>
</div>

<div id="navigation">

  <div class="left">
  </div>

  <div class="<%=nav_button_class('home',title)%>">
    <a href="/home">HOME</a>
  </div>

  <div class="<%=nav_button_class('portfolio',title)%>">
    <a href="/portfolio">PORTFOLIO</a>
  </div>

  <div class="<%=nav_button_class('contact',title)%>">
    <a href="/contact">CONTACT</a>
  </div>

  <div class="<%=nav_button_class('blog',title)%>">
    <a href="/blog">BLOG</a>
  </div>

</div>

<div id="bar_padding">
</div>

<div id="bar_right">
</div>
