<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'redbox' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'redbox' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="site_container">
      <%= render :partial => 'global/navigation_bar', :locals => {:title => yield(:title)} %>
      <div id="shadow">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>

          <%- if show_title? -%>
          <div id="auto_title">
            <h1><%=h yield(:title) %></h1>
          </div>
          <%- end -%>

          <div id="content">
            <%= yield %>
          </div>

          <div id="footer">
            <div id="footer_content">
              <ul>
                <li><a href="Home">Home</a>  </li>
                <li><a href="Portfolio">Portfolio</a>  </li>
                <li><a href="Contact">Contact</a>  </li>
                <li><a href="Blog">Blog</a>  </li>
              </ul>
            </div>
          </div> 

        </div>

      </div>
    </body>
  </html>
